.navRight {
   position: absolute;
   right: 1%;
}

.navDiv {
    width: 100%;
    position: relative;
}

.formWidth {
    width: 50%; 
    min-width: 250px;
    margin-right: 0.3%;
    margin-top: 0.3%;
}

.left{
    float: left; 
    width: 10%;
    min-width: 80px;
    border: 1px solid #ced4da; 
}

.center{
    float: left;   
    width: 10%;
    min-width: 80px;
    margin-top: 0.3%;
    margin-right: 0.3%;
    height: calc(1.5em + .75rem + 2px);
    border: 1px solid #ced4da; 
}

.right{
    float: right;
    width: 20%;
    min-width: 80px;
    margin-top: 0.3%;
    margin-right: 0.2%;
    height: calc(1.5em + .75rem + 2px);
}


.search-position {
    
    margin-right: 1%;
    margin-left: 1%;
    
}

#loupeHeight {
    vertical-align: top; 
}

#addButton {
    background-color: #e83e8c;
    color: white;
}

#addButton:hover{
    color:#fff;
    background-color:#ad2c69;
}

#lock {
    height: 96px; 
    width: 96px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5%;
    margin-top: 10%;
}

.textCenter {
    text-align: center;
}

#lockMargin {
    margin-bottom: 5%;
    color: #8e8e8e;
}

.margin {
    margin-top: 0.2%;
    margin-bottom: 0.2%;
}

table {
    width: 100%;
    text-align: left;
    vertical-align: bottom;
}

td {
    width: 15%;
    text-align: left;
    line-height: 3rem;
    border-bottom: 1px solid #d4d3d386;
}

.col-jobTitle {
   min-width: 95px;
}

.col-departmentId {
   min-width: 140px;
}

.table thead th {

   border-bottom: 1px solid #d4d3d386;
}

.firstTd {
    width: 5%;
}

.secondTd {
    width: 10%;
}

.thirdTd {
    width: 20%;
    overflow: hidden;
}

.icon-box {
	width: 80px;
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
	z-index: 9;
    text-align: center;
}

.modal-confirm .btn, .modal-confirm .btn:active {
	color: #fff;
	border-radius: 4px;
	background: #60c7c1;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	min-width: 120px;
	border: none;
	min-height: 40px;
	border-radius: 3px;
	margin: 0 5px;
}
.btn-secondary {
    background: #c1c1c1;
    width:25%;
}
.btn-secondary:hover, .btn-secondary:focus {
	background: #a8a8a8;
}
.btn-danger {
    background: #f15e5e;
    width:25%;
}
.btn-danger:hover, .btn-danger:focus {
	background: #ee3535;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}

h4 {
	text-align: center;
	font-size: 26px;
    margin-top: 5%;
}

.gray {
    margin-top:5%;
    color: #8e8e8e;
    text-align: center;
}

.form-group label {
    display:inline;
    width: 30%;
    vertical-align: middle;

}

.form-group div {
    display:inline;
}

.newForm {
    width: 60%;
    display: inline;
    float: right;
}

#editHeader {
    padding-left: 7%;
    display: inline-block;
    width: 200px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  th{
    cursor: pointer;
  }
  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  @media only screen and (min-width: 200px) and (max-width: 767px)  {
    .nav-scroller{
      overflow: auto;
      display: block;
      width: 820px;
    }
    .main_container{
      overflow: auto;
      display: block;
      width: 100%;
    }
    .right_form{
      min-width: 100px;
      /*margin-left: 0px;*/
    }
    .right_forma {
     min-width: 120px;
     margin-left: -120px;
   }
    .formWidth {
     width: auto;
     min-width: 200px;
   }
  }
  .location_table,.department_table{
    display: none;
  }
  .nav-scroller{
    position: fixed !important;
    width: 100%;
    background-color: white;
  }
  .table_container{
    padding-top: 45px;
  }
  
  .table-responsive{
      height:900px;  
      overflow:auto;
      overflow-x: auto;
    }
thead tr:nth-child(1) th{
background: white;
position: sticky;
top: 0;
z-index: 10;
}
  .btn-size{
    width: 40px;
  }
