.navRight {
   position: absolute;
   right: 1%;
}

.navDiv {
    width: 100%;
    position: relative;
}

.formWidth {
    width: 50%; 
    min-width: 250px;
    margin-right: 0.3%;
    margin-top: 0.3%;
}

.left{
    float: left; 
    width: 10%;
    min-width: 80px;
}

.center{
    float: left;   
    width: 10%;
    min-width: 80px;
    margin-top: 0.3%;
    margin-right: 0.3%;
    height: calc(1.5em + .75rem + 2px);
}

.right{
    float: right;
    width: 20%;
    min-width: 80px;
    margin-top: 0.3%;
    margin-right: 0.2%;
    height: calc(1.5em + .75rem + 2px);
}


.search-position {
    
    margin-right: 1%;
    margin-left: 1%;
    
}

#loupeHeight {
    vertical-align: top; 
}

#addButton {
    background-color: #e83e8c;
    color: white;
}

#addButton:hover{
    color:#fff;
    background-color:#ad2c69;
}

#lock {
    height: 96px; 
    width: 96px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5%;
    margin-top: 10%;
}

.textCenter {
    text-align: center;
}

#lockMargin {
    margin-bottom: 5%;
    color: #8e8e8e;
}

.margin {
    margin-top: 0.2%;
    margin-bottom: 0.2%;
}

table {
    width: 100%;
    text-align: left;
}

td {
    width: 15%;
    text-align: left;
    line-height: 3rem;
    border-bottom: 1px solid #d4d3d386;
}

.firstTd {
    width: 5%;
}

.secondTd {
    width: 10%;
}

.thirdTd {
    width: 20%;
    overflow: hidden;
}



